.divInicial {
    background-color: blue;
}

.cardBody {
    background-color: white;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 2%;
}

.cardBodyDark {
    background-color: lightblue;
    margin-bottom: 5px;
    text-align: center;
}

.itemDetail {
    max-width: 740px;
    margin-top: 10px;
}

.cardCart {
    max-width: 640px;
}

.cantCarrito {
    position: relative;
    left: 25%;
}

.cartContainer {
    margin-top: 5%;
}

.divForm {
    margin-top: 20px;
}